.toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid #f07369;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;

}

.toggle>* {
    width: 1rem;
    height: 1rem;
    color: #f07369;
}

.t-button {
    border-radius: 100%;
    background: #f07369;
    position: absolute;
}